.action-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    background-color: #fff;
}

.search-wrap {
    padding: 24px 30px 0px;
    margin-bottom: 0px;
    background: #fff;
}

.table-wrap {
    margin-top: 0px;
    background-color: #fff;
    .el-tabs__content {
        height: calc(100% - 45px);
        overflow: hidden;
    }
}
.el-dialog{
  background: #ffffff;
  border: 1px solid rgba(198,207,220,0.30) !important;
  border-radius: 16px !important;
  box-shadow: 0px 2px 8px 0px rgba(186,186,186,0.60) !important; 
  padding: 15px;
  .el-dialog__header{
    text-align: center;
  }
  .el-dialog__footer{
    position: relative !important;
    text-align: center ;
  }
}

@mixin status($statusColorone,$statusColortwo) {
  min-width: 80px !important;
  height: 24px ;
  background-image: linear-gradient(to right, $statusColorone,$statusColortwo) !important;
  border-radius: 5px !important;
}

@mixin flex {
    display: flex;
    align-items: center;
}


@each $animal,
$colorone,$colortwo in (b,#0366fb, #07c4ff ),
(c, #535353, #535353),
(d, #E3E3E3, #DFDFDF),
(g, #AAFF7F,#5ED358) {
    .btn-#{$animal} {
      @include status($colorone,$colortwo);
    }
}



.el-select {
  width: 100%;
}

/*css主要部分的样式*/


/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 10px;
    /*对垂直流动条有效*/
    height: 10px;
    /*对水平流动条有效*/
    border-radius: 100%;
}


/*定义滚动条的轨道颜色、内阴影及圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 3px;
}


/*定义滑块颜色、内阴影及圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(248, 248, 248);
}


/*定义两端按钮的样式*/

::-webkit-scrollbar-button {
    background-color: #fff;
    height: 0;
}


/*定义右下角汇合处的样式*/

::-webkit-scrollbar-corner {
    background: #fff;
}



.el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.el-tabs__item {
    box-shadow: none !important;
}

.tabNews .el-tabs__item:focus.is-active.is-focus:not(:active) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
    box-shadow: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.disabled-from .el-select .el-input.is-disabled .el-input__inner,
.disabled-from .el-input.is-disabled .el-input__inner {
    border: none;
    color: #606266;
    background-color: #fff;
    font-size: 14px;
}

.el-message {
    min-width: 225px !important;
}
.el-input__inner{
  height: 28px !important;
  border-radius: 5px !important;
}

// 弹窗样式
.el-form-item__label {
  font-weight: 500 !important;
  color: #333333 !important;
}

// 动态表单样式 --- 开始

//编辑表单内label名字过长处理
.dragArea .el-form-item__label,.dragArea .el-radio__label,.dragArea .el-checkbox__label{
  display: inline-block;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuodong:before {
  content: "\e623";
}

// 动态表单样式 --- 结束