// sidebar
$menuText:#3F5E88;
$menuActiveText:rgb(255, 255, 255);
$subMenuActiveText:rgb(0, 0, 0); //https://github.com/ElemeFE/element/issues/12951
$menuBg:rgb(255, 255, 255);
$menuHover:rgb(255, 255, 255);
$subMenuBg:rgb(255, 255, 255);
$subMenuHover:rgba(48, 55, 80, 1);
$sideBarWidth: 320px;
//选中左侧菜单左边框
$selectMenuBorderColor:rgba(66, 133, 244, 1);
//顶部导航高度
$navbarHeight:70px;
//顶部导航背景色
$navBg:#FAFBFF;
//激活文字颜色
$activeTextColor:#4285F4;
//未激活文字颜色
$textColor:#3F5E88;
$navHoverBg:rgba(66, 133, 244, 0.1);
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
    navBg: $navBg;
    activeTextColor: $activeTextColor;
    textColor: $textColor;
}